<!DOCTYPE html>
<!--Стилизация Bootstrap-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <span>Бомбордино Крокодило | Магазин девайсов</span>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Главная
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" method="post" action="/search">
            {% csrf_token %}
          <input name="search_product" type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>

          {% if user.is_authenticated %}
        <div class="text-end">
            <a href="/cart"><button type="button" class="btn btn-light text-dark me-2">Корзина</button></a>
            <a href="/logout"><button type="button" class="btn btn-primary">Выйти</button></a>
        </div>
          {% else %}
          <div class="text-end">
            <a href="/register"><button type="button" class="btn btn-light text-dark me-2">Регистрация</button></a>
            <a href="/accounts/login"><button type="button" class="btn btn-primary">Войти</button></a>
          </div>
          {% endif %}
      </div>
    </div>
  </header>
<div class="container">
  {% if cart|length > 0 %}
  {% for c in cart %}
  <img src="{{ c.user_product.product_photo.url }}" alt="" width="350" height="350">
  <br>
  <h2>{{ c.user_product }}</h2>
  <br>
  <p>Количество: {{ c.user_pr_amount }}</p>
  <br>
  <p>Сумма за товары: {% widthratio c.user_product.product_price 1 c.user_pr_amount %}</p>
  <br>
  <form action="/del-from-cart/{{ c.user_product.id }}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
  </form>
  <br>
  {% endfor %}
  <h2>Итог: ${{ total }}</h2>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Оформить заказ</button>
  </form>
  {% else %}
  <center><h1>Товаров в корзине пока нет!</h1></center>
  <center><a href="/"><button class="btn btn-primary">На главную</button></a></center>
  {% endif %}
</div>
</body>
</html>